@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-image: url(../ICON/Main.png);
    max-width: 428px;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

* {
    margin: 0;
    box-sizing: border-box;
}

.header-2 {
    padding-block: 20px;
}

.second-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 155px;
}

.group {
    display: flex;
    gap: 25px;
}

.zodiac {
    display: flex;
    justify-content: space-around;
    padding-block: 50px;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: space-around;
    height: 90px;
}
  
.label .text-wrapper {
    width: 338px;
    background: linear-gradient(180deg, rgb(114, 164, 234) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-weight: 300;
    color: transparent;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    line-height: normal;
}

.twoColumn-container {
    display: flex;
    justify-content: space-around;
    padding-block: 70px;
}

.first-column, .second-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aries, .gemini, .leo, .libra, .sagittarius, .aquarius {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.taurus, .cancer, .virgo, .scorpio, .capricorn, .pisces {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.aries, .gemini, .leo, .libra, .sagittarius, .aquarius p {
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.66px;
}

.taurus, .cancer, .virgo, .scorpio, .capricorn, .pisces p {
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.66px;
}

.first-column img {
    width: 100px;
    height: 100px;
}

.second-column img {
    width: 100px;
    height: 100px;
}

.name {
    display: none;
}

.icons {
    display: none;
}

.icons-2 { 
    display: none;
}