@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

table {
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#sort  {
    background: url(Group\ 206.png);
    border: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

th, td {
    padding: 12px;
    text-align: left;
}

.title {
    display: flex;
    justify-content: space-between;
}

.danger {
    display: inline-flex;
padding: 2px 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 25px;
background: var(--Danger, #DC3545);
color: var(--Light-White, #FFF);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 157.143% */
}